/* styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9f7;
    color: #030303;
}

/* Navigation */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 7%;
    background-color: rgb(252, 225, 225);
}

.logo {
    color: #330202;
    font-size: 24px;
}

.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #222;
    font-weight: 500;
}

.nav-links a:hover {
    color: #176b4d;
}

/* Hero section */
.hero {
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px 7%;
    background: linear-gradient(
        rgba(23, 107, 77, 0.8),
        rgba(23, 107, 77, 0.8)
    ),
    url("../images/house1.jpg");
    background-size: cover;
    background-position: center;
}

.hero-content {
    max-width: 800px;
    color: white;
}

.hero h1 {
    font-size: 56px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 35px;
}