/* styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9f7;
    color: #030303;
}

/* Navigation */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 7%;
    background-color: rgb(252, 225, 225);
}

.logo {
    color: #330202;
    font-size: 24px;
}

.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #222;
    font-weight: 500;
}

.nav-links a:hover {
    color: #176b4d;
}

/* Hero section */
.hero {
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px 7%;
    background: linear-gradient(
        rgba(23, 107, 77, 0.8),
        rgba(23, 107, 77, 0.8)
    ),
    url("../images/house1.jpg");
    background-size: cover;
    background-position: center;
}

.hero-content {
    max-width: 800px;
    color: white;
}

.hero h1 {
    font-size: 56px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 35px;
}

/* Search box */
.search-box {
    display: flex;
    gap: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 12px;
    max-width: 700px;
    margin: 0 auto;
}

.search-box input,
.search-box select {
    flex: 1;
    padding: 15px;
    border: none;
    outline: none;
    font-size: 16px;
}

.search-box button {
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    background-color: #176b4d;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.search-box button:hover {
    background-color: #12553d;
}

/* Featured Properties */
.properties {
    padding: 70px 7%;
    background-color: #f8f9f7;
}

.properties h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
}

.property-container {
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
}

.property-card {
    background-color: white;
    width: 320px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}

.property-card img {
    width: 100%;
    height: 210px;
    object-fit: cover;
}

.property-card h3 {
    font-size: 20px;
    margin: 20px 20px 10px;
}

.property-card p {
    color: #666;
    margin: 0 20px 10px;
}

.property-card strong {
    display: block;
    color: #176b4d;
    font-size: 18px;
    margin: 15px 20px 20px;
}
/* Why Choose Us */
.why-us {
    padding: 70px 7%;
    background-color: white;
    text-align: center;
}

.why-us h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.features {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.features div {
    width: 280px;
    padding: 25px;
}

.features h3 {
    color: #176b4d;
    margin-bottom: 10px;
}

.features p {
    color: #666;
    line-height: 1.6;
}

/* Footer */
footer {
    background-color: #176b4d;
    color: white;
    text-align: center;
    padding: 25px;
}

footer p {
    font-size: 14px;
}